html {
    scroll-behavior: smooth;
  }
  

.principal-section {
    background-color: hwb(286 0% 79%); 
    padding: 20px 0; 
}

.container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


img {
    height: 50px; 
}


.navbar {
    display: flex;
    align-items: center;
}


.principal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.principal-menu li {
    display: inline;
    margin-right: 20px; 
}

.principal-menu a {
    text-decoration: none;
    color: #fff;
}


.Download-button {
    background-color: hsl(261, 81%, 48%);
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.Download-button:hover {
    background-color: #c202bf; 
}

.container {
    position: relative;
    display: flex;
}

.first-section, .second-section {
    flex: 1;
    background-color: hwb(286 0% 66%); 
    padding: 196px;
    box-sizing: border-box;
    position: relative;
}

.second-section {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


.cellphone {
    position: absolute;
    top: 13%;
    left: 11%;
    z-index: 1;
    width: 25%;
}

.Fondo-papers {
    position: absolute;
    top: -2px;
    left: -1px;
    height: 100%;
    z-index: 1;
}



.first-p{
    color: white;
}
.first-section button {
    margin-bottom: 20px;
    color: rgb(230, 0, 255);
}



h1 {
    font-size: 3rem;
    color: white;
}


.Download-it-now {
    background-color: white;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.Download-it-now:hover{
    background-color: aqua;
}


.Features {
    background-color: white;
    background: transparent;
    color: #fff; 
    border: 2px solid;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.Features:hover {
    background-color: #ffffff;
}

h2 {
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 0, 212);
}

.laptop {
    margin-left: 8%;
    width: 43%;
}

h3 {
    margin: 10px;
    margin-left: 3%;
    color: #ff00fb;
    font-size: 3rem;
}

.placeholder {
    margin: 22px;
    width: 56%;
}


h4 {
    margin-left: 25px;
    color: #ff00fb;
    font-size: 2rem;
}

.marketing-menu {
    color: #ff00fb;
}

h5 {
    text-align: center;
    font-size:4rem ;
    color: white;
}

.pricing {
    text-align: center;
    width: 60%;
    margin: 298px;
    font-size: 20px;
    margin-top: -4%;
    color: white;
    margin-bottom: 51px;
}


.fourth-section {
    background-color: hwb(286 0% 79%);
    width: 100%;
    height: 100%;
}

.card-paper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; 
}

.container-cards {
    width: 21%; 
    border: 5px solid #ccc;
    border-radius: 10%; 
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.container-cards-cards img {
    max-width: 100%;
}

ul.marketing-menu {
    padding: 0;
    margin-left: 43px;
    margin-top: 85px;
}
ul.marketing-menu-cards li {
    list-style: none;
    margin-bottom: 10px;
    margin-right: 45px;
}

ul.marketing-menu-cards a {
    text-decoration: none;
    color: #333;
}

.contador {
    display: inline-flex;
    align-items: center;
    font-size: 36px;
    margin: 10px;
  }
  
  .numero {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .texto {
    font-size: 14px;
    color: #555;
  }
  

.container-cards p {
    margin-top: 10px;
    font-size: 14px;
}

h6{
    margin: 12px;
    font-size: 29px;
}

.lite {
    color: #c202bf;
}

.suscribe {
    height: 55px;
    width: 141px;
    background-color: hwb(286 0% 79%);
    color: white;
    border: 5px solid;
    border-radius: 9px;
    cursor: pointer;
}

.suscribe:hover {
    background-color: #ff00fb;
}

.last-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons-socials {
    display: flex;
    align-items: center;
}

.icons {
    margin-left: auto;
}

.icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.autor {
    color: #ff00fb;
}

/*480-920*/

@media screen and (min-width: 480px) and (max-width: 920px) {
    .principal-section {
        padding: 10px 0; 
    }

    .container-navbar {
        justify-content: center; 
    }
    img {
        height: 30px; 
    }

    .navbar {
        justify-content: center; 
    }
    .principal-menu {
        text-align: center; 
    }

    .principal-menu li {
        display: inline; 
        margin-right: 20px; 
        margin-bottom: 0; 
    }

    .Download-button {
        font-size: 14px; 
    }

    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .first-section, .second-section {
        padding: 48px;
        width: 100%;
        text-align: center; 
    }

    .second-section {
        display: none;
    }

    .cellphone {
        top: 20%; 
        left: 5%; 
        width: 50%; 
    }

    .Fondo-papers {
        top: -10px; 
        left: -5px; 
        height: 110%; 
        z-index: -1; 
    }

    .first-section button {
        margin-bottom: 10px; 
        font-size: 14px; 
    }

    h1 {
        font-size: 2rem; 
    }

    .Download-it-now {
        font-size: 14px; 
    }

    .Features {
        font-size: 14px; 
    }

    h2 {
        font-size: 3rem; 
    }

    .laptop {
        margin-left: 0; 
        width: 100%; 
        height: auto;
    }

    h3 {
        font-size: 2.5rem; 
        text-align: center;
    }

    .placeholder {
        width: 100%; 
    }

    h4 {
        font-size: 1.8rem; 
        margin-left: 10px; 
        text-align: center;
    }

    h5 {
        text-align: center;
        font-size: 4rem;
        color: white;
    }
    
    .pricing {
        text-align: center;
        width: 80%; 
        margin: -82px auto; 
        font-size: 18px;
        margin-bottom: 20px; 
    }

    .container-cards {
        width: 24%;
        font-size: 0px;
        margin-right: 7px;
    }

    .card-paper {
        justify-content: center; 
    }
    
    .container-cards img {
        max-width: 80%; 
    }

    ul.marketing-menu {
        margin-top: 30px; 
    }

    ul.marketing-menu-cards li {
        margin-right: 10px; 
    }

    .contador {
        font-size: 20px; 
    }

    .numero {
        margin-right: 2px; 
    }

    .container-cards p {
        margin-top: -31px; 
    }

    h6 {
        margin: 10px; 
        font-size: 26px; 
    }
    
    .suscribe {
        height: 45px; 
        width: 120px; 
        font-size: 16px; 
        border-radius: 7px; 
    }

    .last-section {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    
    .icons-socials {
        margin-top: 10px; 
    }
    
    .icons {
        margin-left: 0; 
    }

    .icons a {
        margin: 0 5px; 
    }
    
}
